# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

Por ejemplo:

1. Puede importar el CSV generado por Python a su computadora portátil y explorarlo.
2. Puede conectarse a su base de datos usando `pandas.read_sql` desde este cuaderno y explorarla.

In [13]:
# Ejemplo de lectura de la base de datos SQL desde aquí
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd

# cargar las variables del archivo .env
load_dotenv()

connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
engine = create_engine(connection_string).execution_options(autocommit=True)
engine.connect()

# dataframe = pd.read_sql("Select * from books;", engine)
# print(dataframe.describe())

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [10]:
engine.execute("""
CREATE TABLE publishers(
    publisher_id INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    PRIMARY KEY(publisher_id)
);

CREATE TABLE authors(
    author_id INT NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(50) NULL,
    last_name VARCHAR(100) NULL,
    PRIMARY KEY(author_id)
);

CREATE TABLE books(
    book_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    total_pages INT NULL,
    rating DECIMAL(4, 2) NULL,
    isbn VARCHAR(13) NULL,
    published_date DATE,
    publisher_id INT NULL,
    PRIMARY KEY(book_id),
    CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
);

CREATE TABLE book_authors (
    book_id INT NOT NULL,
    author_id INT NOT NULL,
    PRIMARY KEY(book_id, author_id),
    CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
    CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
);
""")

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [12]:
engine.connect()

AttributeError: 'OptionEngine' object has no attribute 'execute'